body {
    background-color: rgb(192, 240, 255)
}

.container {
    margin: 0 auto;
    padding: 20px;
    background-color:rgb(185, 24, 24)
}

li {
    background-color: rgb(253, 255, 165);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: #102252;
    color: #fff;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: right;
}

nav ul li {
    display: inline;
    margin-left: 20px;
}

nav ul li:last-child a {
    margin-right: 40px;
}

nav ul li.left {
    float: left;
    margin-left: 0;
}

nav ul li a {
    color: #17cc77;
    text-decoration: none;
}